# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/

# Flutter repo-specific
/bin/cache/
/bin/internal/bootstrap.bat
/bin/internal/bootstrap.sh
/bin/mingit/
/dev/benchmarks/mega_gallery/
/dev/bots/.recipe_deps
/dev/bots/android_tools/
/dev/devicelab/ABresults*.json
/dev/docs/doc/
/dev/docs/flutter.docs.zip
/dev/docs/lib/
/dev/docs/pubspec.yaml
/dev/integration_tests/**/xcuserdata
/dev/integration_tests/**/Pods
/packages/flutter/coverage/
version
analysis_benchmark.json

# packages file containing multi-root paths
.packages.generated

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/Flutter-Debug.xcconfig
**/macos/Flutter/Flutter-Release.xcconfig
**/macos/Flutter/Flutter-Profile.xcconfig

# Coverage
coverage/

# Symbols
app.*.symbols

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/dev/ci/**/Gemfile.lock
build/4c2bfcc41fcc9beb37f6c33d83865ddf/
build/app/generated/
build/app/intermediates/annotation_processor_list/
build/app/intermediates/apk_list/
build/app/intermediates/blame/
build/app/intermediates/bundle_manifest/
build/app/intermediates/check_manifest_result/
build/app/intermediates/compatible_screen_manifest/
build/app/intermediates/dex/
build/app/intermediates/duplicate_classes_check/
build/app/intermediates/external_file_lib_dex_archives/
build/app/intermediates/external_libs_dex/
build/app/intermediates/flutter/
build/app/intermediates/incremental/
build/app/intermediates/instant_app_manifest/
build/app/intermediates/manifest_merge_blame_file/
build/app/intermediates/merged_assets/
build/app/intermediates/merged_java_res/
build/app/intermediates/merged_jni_libs/
build/app/intermediates/merged_manifests/
build/app/intermediates/merged_native_libs/
build/app/intermediates/merged_shaders/
build/app/intermediates/metadata_feature_manifest/
build/app/intermediates/processed_res/
build/app/intermediates/res/
build/app/intermediates/shader_assets/
build/app/intermediates/signing_config/
build/app/intermediates/stripped_native_libs/
build/app/intermediates/symbols/
build/app/intermediates/transforms/
build/app/intermediates/validate_signing_config/
build/app/kotlin/
build/app/tmp/compileDebugJavaWithJavac/
build/app/tmp/kotlin-classes/debug/META-INF/
build/app/tmp/packLibsflutterBuildDebug/
build/f872507f30e2ff2523f0f1d19160266e.cache.dill.track.dill
build/kotlin/
build/last_build_run.json
