on: push
name: Test, Build and Release apk
jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '8.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.22.0'
      - run: flutter pub get
      - run: flutter build apk --debug
      - name: Push APK to Releases
        uses: ncipollo/release-action@v1
        with:
          artifacts: "lib/*.apk"
          token: 05e0d3320cfa5bd59aadc492d14abdd32a156145